body {
  margin: 0;
}
header {
  text-align: center; /**centrare immagine e sototitolo*/
  margin: 0 auto;
}
header div p {
  border: 7px;
  background-color: #f2e4ba;
  padding-block: 12px;
  color: #107777;
}
